* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SUSE Mono", sans-serif;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(2px) brightness(0.6);
    transform: scale(1.05);
}



.container {
    opacity: 0.7;
    width: 90%;
    max-width: 500px;
    padding: 16px;
    border-radius: 16px;
    text-align: center;
    z-index: 1;
}

.name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    margin-top: 16px;
    margin-left: 0px;
}

.avatar img {
    background-color: whitesmoke;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.2px solid white;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.nickname {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.9);
}

.about {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-left: 8px;
    margin-top: 16px;
}

.about-one {
    color: white;
    border: 1px solid white;
    border-radius: 16px;
    padding: 4px 16px 4px 16px;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}

.about-two {
    color: white;
    border: 1px solid white;
    border-radius: 16px;
    padding: 4px 16px 4px 16px;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    margin-left: 8px;
}

.links li a i {
    color: white;
    font-size: 28px;
    margin-top: 8px;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    transition: all 0.4s;
}

.links li a i:hover {
    transform: scale(1.1);
}

.music {
    padding: 0;
    margin-left: 4px;
    margin-top: 16px;
}

.music iframe {
    height: 100px;
    width: 500px;
    border-radius: 16px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 767px) {
    .music iframe {
        height: 100px;
        width: 300px;
    }
}








